import { createApp } from 'vue'
import router from './router'
{{PLUGIN_IMPORTS}}import './assets/main.css'
import App from './App.vue'

const app = createApp(App)

app.use(router)
{{PLUGIN_USES}}app.mount('#app')

